<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">XENON-IT</a>
    </div>
    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav navbar-right">
        <li class="active"><a href="#">qui sommes nous<span class="sr-only">(current)</span></a></li>
        <li><a href="#">Nos solutions</a></li>
        <li><a href="#">Nos valeurs</a></li>
        <li><a href="#" data-toggle="modal" data-target="#modalContact"><span class="glyphicon glyphicon-envelope"></span> Contact</a></li>
      </ul>
     </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>

<!-- modal for contact link -->
<div class="modal fade" id="modalContact" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">Formulaire de contact</h4>
      </div>
      <div class="modal-body">
        <p>Content</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Valider</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<div class="container">
  <div class="row showcase">
    <div class="col-md-6">
        <img src="images/ged.jpg" alt="ged" class="img-responsive">
    </div>
     <div class="col-md-6">
       <h3>GED</h3>
        <div class="text-justify">
            <p>La gestion électronique de documents ou GED est un système informatisé qui permet la numérisation et l'archivage des documents de votre entreprise</p>
        </div>
    </div>
  </div>
  <div class="row showcase">
     <div class="col-md-push-6 col-md-6">
        <img src="images/dematerialisation.png" alt="dematerialisation" class="img-responsive">
    </div> <!-- col -->
    <div class="col-md-pull-6 col-md-6">
      <h3>Dématérialisation</h3>
        <div class="text-justify">
            <p>Factures clients et fournisseurs, contrats, documents rh... notre plateforme de dématérialisation sécurisée permet de traiter, de manière intégrée, l'ensemble de vos flux entrants et sortants ainsi que leur archivage à vocation probatoire.</p>
        </div>
    </div> <!-- col -->
  </div> <!-- row -->
  <div class="row showcase">
    <div class="col-md-6">
        <img src="images/signature_electronique.jpg" alt="signature électronique" class="img-responsive">
    </div> <!-- col -->
    <div class="col-md-6">
      <h3>Signature électronique</h3>
        <div class="text-justify">
            <p>Depuis 2000, la signature électronique d'un document a en France la même valeur légale qu'une signature manuscrite.</p>
        </div>
    </div> <!-- col -->
  </div> <!-- row -->
</div> <!-- container -->
<div id="chatButton">
<img src="images/chat-icon.png" alt="chat" />
</div>  <!-- div chatButton -->
<footer class="container-fluid">
  <div class="row text-center">
    <ul class="list-inline">
      <li><a href="">Mention légale</a></li>
      <li><a href="">Text</a></li>
      <li><a href="">Text</a></li>
    <ul>
  </div>
</footer>
   