footer{
	height:60px;
	background-color:black;
	margin-top:60px;
	padding-top:20px;

	ul>li>a{
		color:#ffffff;
		font-size:16px;
		padding:0 15px 0 15px;
	}
}
#chatButton{
	position:fixed;
	right:30px;
	bottom:40px;
	opacity:0.8;
	cursor:pointer;
}
.showcase{
	margin-top:20px;
	padding:20px;

	h3:before{
		height:20px;
		width:40px;
		content:"";
		background-color:rgb(235,59,59);
		display:inline-block;
		margin-right:20px;
	}
	
}
.showcase:nth-child(odd){
	background-color:#fafafa;
	}